# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**
- List popular languages for Data Science
- List popular commonly used libraries for Data Science
- Table of development environment open source tools used in Data Science
- Evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. python
2. R
3. SQL
4. Scala
5. Java
6. Julia
7. C++

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn
5. Scikit-learn
6. Keras
7. TensorFlow

| Data Science Tools |
|-----|
| Jupyter |
| Apache Zeppelin |
| R studio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60

print (str(hours) + " hours")

3.3333333333333335 hours

## Author
Bradley van Heerden